<%- include('../partials/header') %>
<form id='new-flight' action="/flights" method="POST">
<label for="airline">Airline:</label>
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
    </select><br>
    <!-- number input for flight number -->
    <label for="flightNo">Flight Number (10-9999):</label>
    <input type="text"  name="flightNo"><br>
    <!-- dropdown for selecting an airport-->
    <label for="departs">Choose an airport:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SEA">SEA</option>
    </select><br><br>
    <!-- timeselection calendar for choosing depart time -->
    <label for="departs">Choose a depart date and time:</label>
    <input id="departs" type="datetime-local" name="departs">
    <input type="submit" value="Add Flight">

</form>

<%- include('../partials/footer') %>