<%- include('../partials/header') %>
<section id="show-page">
    <table>
        <body>
            <tr><th>Airline:</th><td><% flight.airline %></td></tr>
            <tr><th>Flight Number:</th><td><% flight.flightNo %></td></tr>
            <tr><th>Departs:</th><td><% flight.departs %></td></tr>
            <tr><th>Airports:</th><td><% flight.airport %></td></tr>
            <tr><th>Destination:</th><td><% flight.destinations %></td></tr>
        </body>
    </table>
</section>

<%- include('../partials/footer') %>